___

<a href='https://www.udemy.com/user/joseportilla/'><img src='../Pierian_Data_Logo.png'/></a>
___
<center><em>Content Copyright by Pierian Data</em></center>

# Function Practice Exercises

Problems are arranged in increasing difficulty:
* Warmup - these can be solved using basic comparisons and methods
* Level 1 - these may involve if/then conditional statements and simple methods
* Level 2 - these may require iterating over sequences, usually with some kind of loop
* Challenging - these will take some creativity to solve

## WARMUP SECTION:

#### LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers *if* both numbers are even, but returns the greater if one or both numbers are odd
    lesser_of_two_evens(2,4) --> 2
    lesser_of_two_evens(2,5) --> 5

In [1]:
def lesser_of_two_evens(a,b):
    if a % 2 == 0 and b % 2 == 0:
        return min(a,b)
    else:
        return max(a,b)

In [2]:
# Check
lesser_of_two_evens(2,4)

2

In [3]:
# Check
lesser_of_two_evens(2,5)

5

#### ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
    animal_crackers('Levelheaded Llama') --> True
    animal_crackers('Crazy Kangaroo') --> False

In [4]:
def animal_crackers(text):
    first, second = text.split(" ")
    if first[0] == second[0]:
        return True

In [5]:
# Check
animal_crackers('Levelheaded Llama')

True

In [6]:
# Check
animal_crackers('Crazy Kangaroo')

#### MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 *or* if one of the integers is 20. If not, return False

    makes_twenty(20,10) --> True
    makes_twenty(12,8) --> True
    makes_twenty(2,3) --> False

In [15]:
def makes_twenty(n1, n2):
    if n1 == 20 or n1+n2 == 20:
        return True
    else:
        return False

In [16]:
# Check
makes_twenty(20,10)

True

In [17]:
# Check
makes_twenty(2,3)

False

# LEVEL 1 PROBLEMS

#### OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name
     
    old_macdonald('macdonald') --> MacDonald
    
Note: `'macdonald'.capitalize()` returns `'Macdonald'`

In [42]:
def old_macdonald(name):
    if len(name) < 4:
        return name.capitalize()
    else:
        return name[:1].capitalize() + name[1:3] + name[3].capitalize() + name[4:]

In [43]:
# Check
old_macdonald('macdonald')

'MacDonald'

In [44]:
def old_macdonald(name):
    name = name.capitalize()
    order=0
    new = ""
    for x in name:
        if order == 3:
            x = x.upper()
        new += x
        order+=1
    return new

In [45]:
# Check
old_macdonald('macdonald')

'MacDonald'

#### MASTER YODA: Given a sentence, return a sentence with the words reversed

    master_yoda('I am home') --> 'home am I'
    master_yoda('We are ready') --> 'ready are We'
    
Note: The .join() method may be useful here. The .join() method allows you to join together strings in a list with some connector string. For example, some uses of the .join() method:

    >>> "--".join(['a','b','c'])
    >>> 'a--b--c'

This means if you had a list of words you wanted to turn back into a sentence, you could just join them with a single space string:

    >>> " ".join(['Hello','world'])
    >>> "Hello world"

In [70]:
def master_yoda(text):
    lst = text.split(' ')
    reversed = lst[::-1]
    return reversed

In [71]:
# Check
master_yoda('I am home')

['home', 'am', 'I']

In [72]:
# Check
master_yoda('We are ready')

['ready', 'are', 'We']

#### ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

    almost_there(90) --> True
    almost_there(104) --> True
    almost_there(150) --> False
    almost_there(209) --> True
    
NOTE: `abs(num)` returns the absolute value of a number

In [77]:
def almost_there(n):
    if abs(n-100) < 10 or abs(n-200) < 10:
        return True
    else:
        return False

In [78]:
# Check
almost_there(104)

True

In [79]:
# Check
almost_there(150)

False

In [80]:
# Check
almost_there(209)

True

# LEVEL 2 PROBLEMS

#### FIND 33: 

Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

    has_33([1, 3, 3]) → True
    has_33([1, 3, 1, 3]) → False
    has_33([3, 1, 3]) → False

In [98]:
def has_33(nums):
    for x in range(0,len(nums)):
        value = nums[x]
        if x == 0:
            pass
        elif value == 3 and value == nums[x-1]:
            return True
    return False

In [99]:
# Check
has_33([1, 3, 3])

True

In [100]:
# Check
has_33([1, 3, 1, 3])

False

In [101]:
# Check
has_33([3, 1, 3])

False

#### PAPER DOLL: Given a string, return a string where for every character in the original there are three characters
    paper_doll('Hello') --> 'HHHeeellllllooo'
    paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [102]:
def paper_doll(text):
    new=""
    for x in text:
        new += x * 3
    return new

In [103]:
# Check
paper_doll('Hello')

'HHHeeellllllooo'

In [104]:
# Check
paper_doll('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

#### BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 *and* there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'
    blackjack(5,6,7) --> 18
    blackjack(9,9,9) --> 'BUST'
    blackjack(9,9,11) --> 19

In [109]:
def blackjack(a,b,c):
    lst = [a,b,c]
    if sum(lst) <= 21:
        return sum(lst)
    elif sum(lst) > 21 and 11 in lst:
        return sum(lst) - 10
    else:
        return "BUST"

In [110]:
# Check
blackjack(5,6,7)

18

In [111]:
# Check
blackjack(9,9,9)

'BUST'

In [112]:
# Check
blackjack(9,9,11)

19

#### SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.
 
    summer_69([1, 3, 5]) --> 9
    summer_69([4, 5, 6, 7, 8, 9]) --> 9
    summer_69([2, 1, 6, 9, 11]) --> 14

In [149]:
def summer_69(arr):
    print(arr)
    if 6 in arr and 9 in arr:
        ind_6 = arr.index(6)
        ind_9 = arr.index(9)
        sum_1 = sum(arr[0:ind_6])
        sum_2 = sum(arr[ind_9+1:])
        return sum_1 + sum_2
    else:
        return sum(arr)

In [150]:
# Check
summer_69([1, 3, 5])

[1, 3, 5]

9

In [151]:
# Check
summer_69([4, 5, 6, 7, 8, 9])

[4, 5, 6, 7, 8, 9]

9

In [152]:
# Check
summer_69([2, 1, 6, 9, 11])

[2, 1, 6, 9, 11]

14

# CHALLENGING PROBLEMS

#### SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order

     spy_game([1,2,4,0,0,7,5]) --> True
     spy_game([1,0,2,4,0,5,7]) --> True
     spy_game([1,7,2,0,4,5,0]) --> False

In [153]:
def spy_game(nums):
    spy = [0,0,7]
    order = 0
    for x in nums:
        if x == spy[order]:
            order+=1
            if order == 3:
                return True
    return False

In [154]:
# Check
spy_game([1,2,4,0,0,7,5])

True

In [155]:
# Check
spy_game([1,0,2,4,0,5,7])

True

In [156]:
# Check
spy_game([1,7,2,0,4,5,0])

False

#### COUNT PRIMES: Write a function that returns the *number* of prime numbers that exist up to and including a given number
    count_primes(100) --> 25

By convention, 0 and 1 are not prime.

In [185]:
def count_primes(num):
    number = 0
    for x in range(1,num):
        for y in range(1,x):
            if x % y == 0 and (y > 1 or y < x):
                pass
            elif x % y == 0 and (y == 1 or y == x): # prime number
                number += 1
    return number

In [184]:
# Check
count_primes(100)

0

### Just for fun:
#### PRINT BIG: Write a function that takes in a single letter, and returns a 5x5 representation of that letter
    print_big('a')
    
    out:   *  
          * *
         *****
         *   *
         *   *
HINT: Consider making a dictionary of possible patterns, and mapping the alphabet to specific 5-line combinations of patterns. <br>For purposes of this exercise, it's ok if your dictionary stops at "E".

In [ ]:
def print_big(letter):
    pass

In [ ]:
print_big('a')

## Great Job!